@font-face {
    font-family: 'pixel';
    src: url('../font/Modern\ Pixel\ Round.otf') format('truetype');
}
html{
    font-family: pixel;
    background-color: black;
    color: white;
}

body{
    margin: auto;
    text-align: center;
}

#resultados {
    display: none;
}

h2 {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
}

#comparadorForm {
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: black;
    display: inline-block; 
    padding: 2rem; 
}

.input {
    width: 7rem; 
    height: 1.2rem; 
    margin: 5px; 
    color: black; 
}

#boton{
    background-color: black;
    color: white;
    border-radius: 1rem;
    padding: .5rem 2rem;
}

#resultado {
    text-align: center;
    display: inline-block; 
    padding: 4rem; 
}